
.order-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order {
  margin-top: 50px;
}

select {
  padding: 2px 5px;
}

input {
  width: 100px;
  padding: 2px 5px;
}

.btn-section{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button {
  padding: 5px;
  cursor: pointer;
}

aside {
  width: 400px;
  min-height: 100vh;
  padding: 20px;
  border: 5px solid #607d8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  color: rgb(26, 25, 25);
  position: absolute;
  right: 0;
  top:0;
}

.order-btn{
  height: 100px;
  width: 100%;
  border: none;
  border-top: 1px solid #607d8b;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
}

.total-price {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}