<div class="order-section">
  <h2>주문하시겠습니까?</h2>
  <form class="order" [formGroup]="orderForm">
    <div class="order-section">
      <label for="name">이름:</label>
      <input type="text" id="name" formControlName="name" (input)="setName($event)">
      <div *ngIf="guest.invalid && guest.touched">
        <div *ngIf="guest.errors.required">
          Name is required.
        </div>
        <div *ngIf="guest.errors.minlength">
          Input name at least 3 charactors
        </div>
        <div *ngIf="guest.errors.pattern">
          check your name again plz
        </div>
        <div *ngIf="guest.errors.validateEmail">
          invalid name
        </div>
      </div>
    </div>
    <div class="order-section">
      <label for="menu">메뉴:</label>
      <select id="menu" formControlName="menu">
        <option value="no">---메뉴를 선택해주세요---</option>
        <option value="아메리카노">아메리카노</option>
        <option value="바닐라라떼">바닐라라떼</option>
        <option value="녹차라떼">녹차라떼</option>
        <option value="카페라떼">카페라떼</option>
      </select>
    </div>
    <div class="order-section">
      <label for="qty">수량:</label>
      <input type="number" id="qty" formControlName="qty">
    </div>
    <div class="status">
      <span>{{ orderForm.status}}</span>
    </div>

    <div class="btn-section">
      <button (click)="addCart()">추가하기</button>
    </div>
  </form>
</div>
<aside *ngIf="showOrderForm">
  <h2>Order List</h2>
  <div class="order-list-section">
    <div class="order-label">
      <div>Menu</div>
      <div>Qty</div>
      <div>Price</div>
    </div>
    <ul class="order-list">
      <li class="order-list__item" *ngFor="let list of orderList">
        <div class="order-menu">{{list.name}}</div>
        <div class="order-qty">{{list.qty}}</div>
        <div class="order-price">${{list.price}}</div>
      </li>
    </ul>
  </div>

  <div class="total-price">Total: ${{totalPrice}}</div>
  <button class="order-btn" (click)="orderNow()">주문하기</button>
</aside>
<app-coffee *ngIf="showCoffee" [coffeeList]="coffeeList"></app-coffee>
<app-modal *ngIf="showModal" (confirmOrder)="confirmOrder()" (cancelOrder)="cancelOrder()"></app-modal>

<!-- (@Output 이름)="output에 적용할 함수()" -->