
.order-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order {
  margin-top: 50px;
}

input {
  width: 100px;
  padding: 2px 5px;
}

.btn-section{
  margin-top: 20px;
}

button {
  padding: 5px;
  cursor: pointer;
}