<div class="container">
  <div class="cup" *ngFor="let coffee of coffeeList">
    <div class="top">
      <div class="vapour">
        <span class="--vapour:1"></span>
        <span class="--vapour:3"></span>
        <span class="--vapour:16"></span>
        <span class="--vapour:5"></span>
        <span class="--vapour:13"></span>
        <span class="--vapour:20"></span>
        <span class="--vapour:6"></span>
        <span class="--vapour:7"></span>
        <span class="--vapour:10"></span>
        <span class="--vapour:8"></span>
        <span class="--vapour:17"></span>
      </div>
      <div class="inside">
        <div class="{{coffee.class}}"></div>
      </div>
    </div>
    <div class="handle"></div>
  </div>
</div>